Sidewalk.SC.PackageInstaller.Client/Web References/ServiceReference/SitecorePackageInstaller.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sitecoreblog.blogspot.be/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sitecoreblog.blogspot.be/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sitecoreblog.blogspot.be/">
      <s:element name="InstallPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mergeMode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstallPackageResponse">
        <s:complexType />
      </s:element>
      <s:element name="InstallTdsPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstallTdsPackageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InstallTdsPackageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Publish">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="tns:PublishMode" />
            <s:element minOccurs="0" maxOccurs="1" name="languageName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="publishingTargets" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="deep" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceDatabaseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="targetDatabaseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rootItemPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="PublishMode">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Full" />
          <s:enumeration value="Incremental" />
          <s:enumeration value="SingleItem" />
          <s:enumeration value="Smart" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PublishResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InstallPackageSoapIn">
    <wsdl:part name="parameters" element="tns:InstallPackage" />
  </wsdl:message>
  <wsdl:message name="InstallPackageSoapOut">
    <wsdl:part name="parameters" element="tns:InstallPackageResponse" />
  </wsdl:message>
  <wsdl:message name="InstallTdsPackageSoapIn">
    <wsdl:part name="parameters" element="tns:InstallTdsPackage" />
  </wsdl:message>
  <wsdl:message name="InstallTdsPackageSoapOut">
    <wsdl:part name="parameters" element="tns:InstallTdsPackageResponse" />
  </wsdl:message>
  <wsdl:message name="PublishSoapIn">
    <wsdl:part name="parameters" element="tns:Publish" />
  </wsdl:message>
  <wsdl:message name="PublishSoapOut">
    <wsdl:part name="parameters" element="tns:PublishResponse" />
  </wsdl:message>
  <wsdl:portType name="SitecorePackageInstallerSoap">
    <wsdl:operation name="InstallPackage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Installs a Sitecore Package.</wsdl:documentation>
      <wsdl:input message="tns:InstallPackageSoapIn" />
      <wsdl:output message="tns:InstallPackageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InstallTdsPackage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Installs a TDS Update Package.</wsdl:documentation>
      <wsdl:input message="tns:InstallTdsPackageSoapIn" />
      <wsdl:output message="tns:InstallTdsPackageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Publish">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Publish some sitecore items.</wsdl:documentation>
      <wsdl:input message="tns:PublishSoapIn" />
      <wsdl:output message="tns:PublishSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SitecorePackageInstallerSoap" type="tns:SitecorePackageInstallerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InstallPackage">
      <soap:operation soapAction="http://sitecoreblog.blogspot.be/InstallPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstallTdsPackage">
      <soap:operation soapAction="http://sitecoreblog.blogspot.be/InstallTdsPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Publish">
      <soap:operation soapAction="http://sitecoreblog.blogspot.be/Publish" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SitecorePackageInstallerSoap12" type="tns:SitecorePackageInstallerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InstallPackage">
      <soap12:operation soapAction="http://sitecoreblog.blogspot.be/InstallPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstallTdsPackage">
      <soap12:operation soapAction="http://sitecoreblog.blogspot.be/InstallTdsPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Publish">
      <soap12:operation soapAction="http://sitecoreblog.blogspot.be/Publish" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SitecorePackageInstaller">
    <wsdl:port name="SitecorePackageInstallerSoap" binding="tns:SitecorePackageInstallerSoap">
      <soap:address location="http://sidewalk.whitelabel/_BIN/SitecorePackageInstaller.asmx" />
    </wsdl:port>
    <wsdl:port name="SitecorePackageInstallerSoap12" binding="tns:SitecorePackageInstallerSoap12">
      <soap12:address location="http://sidewalk.whitelabel/_BIN/SitecorePackageInstaller.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>